.page, .current-page {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    min-width: 30px;
    min-height: 30px;
    border-radius: 100%;
    padding: 5px;
    margin: 0 10px;
    cursor: pointer;
    transition: all .2s linear;
}

.pages {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
}

.current-page {
    border: 2px solid gray;
    font-weight: 700;
}

.page--disabled {
    pointer-events: none;
    cursor: auto;
    opacity:  0.5;
}