.pokemon-page-header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 40px;
    background: #c62828;
}

.pokemon-page-loading{
    margin: 100px 0;
    font-size: 50px;
}

.pokemon-page-header__back {
    position: absolute;
    display: flex;
    top: 8px;
    align-items: center;
    padding: 0 10px;
    border-radius: 4px;
    height: 40px;
    color: #fff;
    cursor: pointer;
    background: #6e0b0b;
    transition: all .2s linear;
}

.pokemon-page-header__back:hover {
    box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.3);
}

.pokemon-page-header__name {
    flex: 2;
    color: #fff;
    font-size: 30px;
}

.pokemon-page-info {
    display: flex;
}

.pokemon-page-info__img {
    padding: 40px;
}

.pokemon-page-info__specification {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 300px;
    margin: 40px;
    padding: 10px;
    border-radius: 8px;
    background: cornflowerblue;
}

.pokemon-page-info__param {
    font-size: 20px;
    margin-bottom: 10px;
}

.pokemon-page-info__subparam {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    align-items: flex-start;
}

.pokemon-page-info__subparam-item {
    margin-bottom: 4px;
}