.input-limit {
    display: flex;
    align-items: center;
    padding: 10px 40px;
    background: #c62828
;
}
.input-limit__label {
    color: white;
    margin-right: 10px;
}
.input-limit__input {
    height: 40px;
    margin-right: 10px;
    padding: 10px;
    background: #e1abab;
    font-size: 1rem;
    border-radius: 4px;
    width: 200px;
}

.input-limit__btn {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 4px;
    height: 40px;
    color: #fff;
    cursor: pointer;
    background: #6e0b0b;
    transition: all .2s linear;
}

.input-limit__btn:hover {
    box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.3)
}

.input-limit__error {
    color: #fff;
    margin-left: 10px;
}

.limit__btn--disabled {
    pointer-events: none;
    cursor: auto;
    opacity: 0.5;
}