.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 10px 40px;
}

.header__name {
    color: #fff;
    font-size: 1.75em;
    font-weight: 400;
}