.pokemon-list {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.pokemon__loading{
    margin: 100px 0;
    font-size: 40px;
}

img.rot {
    margin-top: 50px;
    animation: 1s linear 0s normal none infinite running rot;
    -webkit-animation: 1s linear 0s normal none infinite running rot;
    width: 100px;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}