.pokemon-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    margin: 5px;
    border-radius: 6px;
    transition: all .2s linear;
}

.pokemon-item:hover {
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

.pokemon-item__img {
    width: 50px;
    height: 50px;
}

.pokemon-item__name {

}