.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;
  color: black;
}

input {
  border: none;
  font-family: inherit;
  box-sizing: border-box;
  border: none;
  width: auto;
  box-shadow: none;
  outline: none;
}

input:focus, input:focus-visible, input:focus {
  padding: 0 10px;
  font-size: 1rem;

}